
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #004b87; 
  color: #ffffff; }

a {
  color: #f5b642; 
  
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.headerGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1d1d1d; 
  border-bottom: 2px solid #f5b642; 
}

.logo {
  max-width: 100px;
  height: auto;
  color: #1d1d1d;
}

.linksGrid {
  display: flex;
}

.linksGrid span {
  margin-right: 20px;
  font-size: 18px;
}

.linksGrid .home a {
  font-weight: bold;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
}


.middleGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.linkImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.readmore_Grid {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dive {
  font-size: 18px;
  line-height: 1.6;
}

.readmore_Grid a {
  color: #f5b642; 
  font-weight: bold;
}


.item4 {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading_new {
  color: #f5b642; 
  font-size: 24px;
  margin-bottom: 15px;
}

.item4 a {
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
}

.item4 p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.rule1, .rule2 {
  border-top: 1px solid #f5b642; 
  margin-top: 10px;
  margin-bottom: 10px;
}


.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #1d1d1d;
}

.footerItem {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.item__content {
  padding-left: 20px;
  color: #ffffff; 
}

.item_h1 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #f5b642; 
  margin-bottom: 10px;
}

.item_h3 a {
  font-size: 18px;
  color: #ffffff; 
}

.item_p {
  font-size: 16px;
  line-height: 1.6;
}
.logo {
  width: 100px; 
  height: auto;
  margin-left: 20px; 
}

#games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-around; 
}

.game-item {
  background-color: #1d1d1d;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(33.33% - 20px); 
  min-width: 300px; 
}

.game-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-item p {
  font-size: 16px;
  line-height: 1.6;
}